DB.PORT=5432
DB.LOCAL_PATH=C:\\Elrphant\\User\\elephant-2\\database\\
DB.HOST=127.0.0.1
DB.URL=127.0.0.1
DB.NAME=qa
DB.USERNAME=postgres
DB.PASSWORD=vbifsv33
DB.OS_USER=Odmen

APP.URL= http://127.0.0.1:7000
APP.PORT=7000

EMAIL.HOST=smtp.gmail.com
EMAIL.PORT=465
EMAIL.FROM=tt1543162@gmail.com
EMAIL.PASSWORD=testtotestttt33
EMAIL.USER=tt1543162@gmail.com
EMAIL.SSL=true

DEFAULT_LANG=EN
ENV=PRODUCTION